body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.app {
  text-align: center;
  height: calc(100vh - 150px);
  width: 100vw;
}

p {
  margin: 0;
  height: 2em;
}

h1 {
  margin: 0;
  height: 140px;
  padding-top: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.diceContainer {
  height: 200px;
  width: 200px;
  perspective: 600px;
}

#rollButton {
  background-color: grey;
  border: 2px solid black;
  height: 2em;
  width: 100px;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
}

#rollButton:active {
  background-color: rgb(104, 104, 104);
}

#rollButton > p {
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}



#diceArea {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
}

@keyframes diceRoll {
  from {
    transform: rotateX(0deg) rotateY(0deg)
  }
  to {
    transform: rotateX(360deg) rotateY(360deg)
  }
}

.dice {
  position: relative;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  animation: diceRoll 1.2s ease-out;
}

/* Dice face styling */

.diceFace {
  width: 200px;
  height: 200px;
  background-color: green;
  border: 4px solid black;
  position: absolute;
  opacity: 1;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#face1 {
  transform: rotateY(0deg) translateZ(100px);
}

#face2 {
  transform: rotateY(90deg) translateZ(100px);
}

#face3 {
  transform: rotateY(180deg) translateZ(100px);;
}

#face4 {
  transform: rotateY(-90deg) translateZ(100px);
}

#face5 {
  transform: rotateX( 90deg) translateZ(100px);
}

#face6 {
  transform: rotateX(-90deg) translateZ(100px);
}

/* Keyframes to support show classes */

@keyframes diceRoll1 {
  from {
    transform: rotateX(0deg) rotateY(0deg)
  }
  to {
    transform: rotateX(360deg) rotateY(360deg)
  }
}

@keyframes diceRoll2 {
  from {
    transform: rotateX(0deg) rotateY(0deg)
  }
  to {
    transform: rotateX(360deg) rotateY(270deg)
  }
}

@keyframes diceRoll3 {
  from {
    transform: rotateX(0deg) rotateY(0deg)
  }
  to {
    transform: rotateX(360deg) rotateY(180deg)
  }
}

@keyframes diceRoll4 {
  from {
    transform: rotateX(0deg) rotateY(-90deg)
  }
  to {
    transform: rotateX(360deg) rotateY(90deg)
  }
}

@keyframes diceRoll5 {
  from {
    transform: rotateX(-360deg) rotateY(0deg)
  }
  to {
    transform: rotateX(-90deg) rotateY(360deg)
  }
}

@keyframes diceRoll6 {
  from {
    transform: rotateX(-180deg) rotateY(0deg)
  }
  to {
    transform: rotateX(90deg) rotateY(360deg)
  }
}

/* Transformations to end on a specific number */

.show1 {
  animation: diceRoll1 1.2s ease-out;
  animation-fill-mode: forwards;
}

.show2 {
  animation: diceRoll2 1.2s ease-out;
  animation-fill-mode: forwards;
}

.show3 {
  animation: diceRoll3 1.2s ease-out;
  animation-fill-mode: forwards;
}

.show4 {
  animation: diceRoll4 1.2s ease-out;
  animation-fill-mode: forwards;
}

.show5 {
  animation: diceRoll5 1.2s ease-out;
  animation-fill-mode: forwards;
}

.show6 {
  animation: diceRoll6 1.2s ease-out;
  animation-fill-mode: forwards;
}

